[submodule "Syphon-Framework"]
	path = Syphon-Framework
	url = https://github.com/Syphon/Syphon-Framework.git
[submodule "Shared"]
	path = Shared
	url = https://github.com/Syphon/Shared.git
[submodule "max-sdk"]
	path = max-sdk
	url = git@github.com:Cycling74/max-sdk.git
